.myTimer {
  text-align: center;
  width: 280px;
  height: 220px;
  /* border: 1px solid grey; */
  margin: 10px auto;
  background-color: #caf6ff;
  position: relative;
  border-radius: 4%;
  box-shadow: 1px 4px 60px 0 rgba(14, 42,90, 0.55);
  /* box-shadow: inset 0px 0px 10px 0px rgba(14, 42,90, 0.55); */
}

.settingTimer {
  /* font-size: 60px; */
  line-height: 35px;
}

input {
  height: 40px;
  width: 80px;
  border-radius: 10px;
  margin: 5px;
  font-size: 35px;
  text-align: center;
}

.timeLeft {
  font-size: 60px;
  height: 70px;
  line-height: 70px;
}

.totalHours {
  font-size: 20px;
}


.timerButtons {
  position: absolute;
  top: 159px;
  left: 4%;
}

.timerButtons button {
  padding: 5px 10px;
  border-radius: 4px;
  background: hsla(0,0%,100%,0%);
  font-weight: bold;
}

.timerButtons button:hover {
  box-shadow: 0px 2px 40px 0px rgba(0,0,0,.3);
  transform: translateY(-3px);
}